_site/
.sass-cache/
.jekyll-cache/
.jekyll-metadata
.sync/
.ruby-version
.prettierrc.json
.prettierignore
workspace.code-workspace


### VisualStudioCode ###
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets