_site/
.sass-cache/
.jekyll-cache/
.jekyll-metadata
.sync/
.ruby-version
.prettierrc.json
.prettierignore
.liquidrc
.eslintrc.json
workspace.code-workspace


### VisualStudioCode ###
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets

### Node modules ###
node_modules/*
package.json
package-lock.json