# Site settings
# These are used to personalize your new site. If you look in the HTML files,
# you will see them accessed via {{ site.title }}, {{ site.email }}, and so on.
# You can create any custom variable you would like, and they will be accessible
# in the templates via {{ site.myvariable }}.
title: North Brisbane FC
email: technical@northbrisbanefc.com.au
description: >- # this means to ignore newlines until "baseurl:"
  Home of North Brisbane Football Club, Lutwyche.
baseurl: "" # the subpath of your site, e.g. /blog
#url: "http://localhost:4000" # the base hostname & protocol for your site, e.g. http://example.com
#twitter_username: jekyllrb
#github_username:  jekyll
github: [metadata]

# Google Analytics
google_analytics: G-T24MFFJCSC

# Build settings
markdown: kramdown
#theme: minima


plugins:
  - jekyll-feed
  - jekyll-paginate

paginate: 6
paginate_path: "/blog/page:num/"

#include:
#  -

# Collections for (football) program specific pages
collections:
  blog:
    output: true
  policies:
    output: true
  miniroos:
    output: true
    permalink: /programs/:collection/:name/

# Using collections_dir causes issues with pagination plugin
# This means each collection goes into the top level folder until I can find a workaround

#collections_dir: "/pages"

defaults:
  - scope: 
      path: ""
      type: "miniroos"
    values:
      layout: "program"
      category: "Program"

mainsponsorsurl: "/assets/mainsponsors/"
supportingsponsorsurl: "/assets/supportingsponsors/"

# Exclude from processing.
# The following items will not be processed, by default. Create a custom list
# to override the default setting.
exclude:
  - workspace.code-workspace
  - package-lock.json
  - package.json
  - Gemfile
  - Gemfile.lock
#   - node_modules
#   - vendor/bundle/
#   - vendor/cache/
#   - vendor/gems/
#   - vendor/ruby/

sass:
  sass_dir: _sass
  style: compressed

compress_html:
  clippings: []
  comments: []
  endings: []
  ignore:
    envs: []
  blanklines: true
  profile: false
  startings: []
