---
layout: landing
title: North Brisbane FC Home
---

{% include hero.html %}

<div class="container col-xl-10 col-xxl-8 pt-auto">
  <div class="row h-100">
    <div class="col-md-8">
      <h2 class="pb-4 mb-4 fst-italic border-bottom">Latest News</h2>

      <!-- prettier-ignore -->
      <article class="blog-post">
        {% for post in site.posts limit:5 %}
          {% if post.categories contains 'Blog' %}
            <h3><a href="{{ post.url }}" title="{{ post.title }}" class="mt-5 pt-5 text-reset blog-post-title">{{ post.title }}</a></h3>

            <a href="{{ post.url }}" title="{{ post.title }}" class="blog-post-meta text-reset text-decoration-none">{{ post.date | date_to_string }}</a>

            <p class="mb-3 pb-3">{{ post.post_lead | strip_html }}</p>
          {% endif %}
        {% endfor %}
      </article>
    </div>

    <div class="col-md-4">
      <div class="postition-sticky">
        <div class="p-4 mb-3 rounded border">
          <h3 class="text-center sponsor-heading">Thank you to our major sponsors</h3>
          {% include majorsponsors.html folder="mainsponsors"%}
        </div>
      </div>
    </div>
  </div>
</div>
