---
layout: policy
title: Policies
program: policies
---

{% assign collection_name = page.program %}
{% assign program_pages = site[collection_name] %}

<div class="container">
  <div class="row">
    <div class="col">
      <article class="blog-post">
      {% for item in program_pages %}
        {% if item.url == page.url %}
          {%- continue -%}
        {% endif %}
        <h3 class="pt-2">
        <a href="{{ item.url }}" title="{{ item.title }}" class="text-reset blog-post-title">{{ item.title }}</a>
        </h3>
      {% endfor %}
      </article>
    </div>
  </div>
</div>
<!--     <div class="col-md-6">
  <br>
  <p><strong>Wet Weather</strong></p>
  <p>In the event of wet weather and field closure please see our Facebook page for field status.</p>
  
  <p class="h3">Blog Posts</p>
  <ul class="posts">
  {% for post in site.posts %}
    <li><span>{{ post.date | date_to_string }}</span> » <a href="{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a></li>
  {% endfor %}
  </ul>
</div> -->


