<div class="col">
  <p>Follow us on Facebook for the most up to date news and events.</p>
  <div class="fb-page" data-href="https://www.facebook.com/northbrisbanefc/" data-tabs="timeline" data-width="500" data-small-header="true" data-adapt-container-width="true" data-hide-cover="true" data-show-facepile="false">
    <blockquote cite="https://www.facebook.com/northbrisbanefc/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/northbrisbanefc/">North Brisbane FC</a></blockquote>
  </div>
</div>