<!-- prettier-ignore -->
<div class="container col-xl-10 col-xxl-8 px-4 py-1 mb-5">
  <div
    class="row align-items-center py-3 mt-3 rounded-1 border shadow-sm"
    id="custom-cards"
    style="
      background-image: linear-gradient(
          rgba(0, 0, 0, 0.5),
          rgba(87, 87, 87, 0.5)
        ),
        url('../images/jumbotron_06.jpg');
    "
  >
    <div class="col-lg-7 text-center text-lg-start ps-sm-5 mb-5">
      <div
        class="card card-cover bg-opacity-0 border border-0 h-100 overflow-hidden text-white bg-transparent py-2 px-2"
      >
        <h1 class="display-4 fw-bold lh-1 mb-3 card-title">
          Join North Brisbane's premier football club
        </h1>
        <p class="col-lg-10 fs-4 card-text">
          Located at Prentice Park, Lutwyche and competing in the Football
          Brisbane competition we have senior mens and womens teams, as well as
          juniors and Mini Roos.
        </p>
        <div class="mx-auto">
          <a href="../blog/index.html" class="btn btn-danger btn-lg">
            See out our latest news
          </a>
        </div>
      </div>
    </div>

    <div class="col-md-10 mx-auto col-lg-5">{% include hero_form.html %}</div>
  </div>
</div>
