<div class="container col-xl-10 col-xxl-8 px-4 py-1 mb-5">
  <div class="row align-items-center py-3 mt-3 rounded border shadow-lg">
    <div class="col-lg-7 text-center text-lg-start ps-5">
      <h1 class="display-4 fw-bold lh-1 mb-3">Join North Brisbane's premier football club</h1>
      <p class="col-lg-10 fs-4">Located at Prentive Park, Lutwyche and competing in the Football Brisbane competition we have senior mens and womens teams, as well as juniors and Mini Roos.</p>
    </div>

    <div class="col-md-10 mx-auto col-lg-5">
      {% include hero_form.html %}
    </div>
  </div>
</div>

<div class="b-example-divider"></div>