<!-- modify this form HTML and place wherever you want your form -->

<form name="input" action="https://formspree.io/f/xoqprkpe" method="POST" class="p-4 p-md-5 border rounded-3 bg-light">
  <div class="form-floating mb-3">
    <p class="lead text-center">
      <a class="fw-bolder text-primary" href="https://m.me/northbrisbanefc" target="_blank" rel="noreferrer noopener">Message us on Facebook Messenger</a> or email us below
    </p>
  </div>

  <div class="form-floating mb-3 .d-none">
    <input type="text" name="_gotcha" style="display: none">
    <input type="hidden" name="_subject" value="North Brisbane FC Enquiry" />
    <input type="hidden" name="_cc" value="treasurer@northbrisbanefc.com.au" />
  </div>

  <div class="form-floating mb-3">
    <input type="text" class="form-control" id="floatingName" name="name" placeholder="Name"/>
    <label for="floatingInput">Name</label>
  </div>

  <div class="form-floating mb-3">
    <input type="text" class="form-control col-md-7" id="floatingEmail" name="_replyto" placeholder="name@example.com"/>
    <label for="floatingInput">Email address</label>
  </div>

  <div class="form-floating mb-3">
    <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea" name="message"></textarea>
    <label for="floatingTextarea">Message</label>
  </div>
  <!-- your other form fields go here -->

  <button class="w-100 btn btn-lg btn-primary" type="submit">Send</button>
  <hr class="my-4" />
</form>
