---
layout: about
title: Committee
---

<div class="container text-center">
  <div class="row">
    <div class="col">
      <h1 class="text-center">{{ page.title }}</h1>
      <h4 class="text-center">Updated for {{ site.data.committees.last_updated }}</h4>
    </div>
  </div>
  <hr />

  <div class="row align-items-start">
    {% for position in site.data.committees.positions %}
    <div class="col-md-6 col-lg-4 mb-3">
      <h4>{{ position.title }}:</h4>
      {% for member in position.members %}
        <p class="mb-0">{{ member.name }}</p>
        {% if member.phone %}
          <p class="mb-0">{{ member.phone }}</p>
        {% else %}
          <p class="mb-0"></p>
        {% endif %}
        <p class="mb-0">{{ member.email }}</p>
        <br />
      {% endfor %}
    </div>
    {% endfor %}
  </div>
</div>
