---
# this ensures Jekyll reads the file to be transformed into CSS later
# only Main files contain this front matter, not partials.
---

// Custom.scss
// Include all of Bootstrap
// Include any default variable overrides here (though functions won't be available)

@import "bootstrap/functions";

// 2. Include Bootstrap variables so we can reference them
@import "bootstrap/variables";

// 3. Include any custom variable overrides and styles
@import "variables";

// 4. Include remainder of required Bootstrap stylesheets
@import "bootstrap/bootstrap";

@import "bootstrap/reboot";

@import "bootstrap/variables-dark";
// 4. Include any optional Bootstrap components as you like

// 5. Add additional custom code here